<!DOCTYPE html>
<html>
<head>
  <title>Scriptor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "scriptor/application", media: "all" %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<%= yield %>

</body>
</html>
